@model  IEnumerable<Final_Project.Models.FencerModel>
@{
    ViewBag.Title = "ScoreSheet";
}


<h2>ScoreSheet</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>FencerModel</h4>
        <hr />

        @foreach (Final_Project.Models.FencerModel fencer in Model)
        {
            <div>
                <span>@fencer.ID</span>
                <span>@fencer.Name</span>
            </div>

        }
        <input type="button" value="Add Fencer" onclick="window.location.href='@Url.Action("Create", "ScoreSheet")';" class="btn btn-default" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create ScoreSheet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


