@model IEnumerable<Final_Project.Models.FencerModel>

@{
    ViewBag.Title = "ScoreSummary";
}

<h2>ScoreSummary</h2>

<div>
    <h4>FencerModel</h4>
    <hr />

    <table>

        <th>Name</th>
        <th>Victories</th>
        <th>Touches Scored</th>
        <th>Touches Received</th>
        <th>Indicator</th>
        <th>Placement</th>

        @foreach (Final_Project.Models.FencerModel fencer in Model)
        {
            <tr>
                <td>@fencer.Name</td>
                <td>@fencer.Victories</td>
                <td>@fencer.TouchesScored</td>
                <td>@fencer.TouchesReceived</td>
                <td>@fencer.Indicator</td>
                <td>@fencer.Placement</td>
            </tr>
        }
    </table>

</div>
